
.search-container {
  background-color: #ffffff; 
  padding: 24px;
}

.form-container {
  margin-bottom: 24px;
  background-color: #f7f7f7; 
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}


.categories-container {
  max-width: 100%;
  padding-bottom: 16px;
}

.category-card,
.category-card-selected {
  text-align: center; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 275px;
  transition: transform 0.2s ease; 
}

.category-card {
  background-color: #f0f0f0;
}

.category-card-selected {
  background-color: white; 
  border: 2px solid aqua;
  transform: scale(1.05);
}

.category-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.category-image {
  width: 100%;
  height: 100px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.category-card p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
}
.category-card-selected p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
}

.card-cover {
  position: relative;
  height: 250px;
  background-color: #fafafa; 
}

.card-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
}


.stream-info {
  display: flex;
  gap: 8px;
  padding: 12px 0;
}

.stream-info-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.stream-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.stream-info strong {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.stream-info span {
  font-size: 14px;
  color: #555;
  cursor: pointer;
}


.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
}

.category-list li {
  background-color: #fafafa;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  color: #595959;
}

.category-list li:hover {
  background-color: #722ed1;
  color: #fff;
}

.search-btn{
  background: linear-gradient(90deg,#722ed1 0%, red 100%);
  color: transparent;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  -webkit-background-clip: text;
  border: 1px solid #b92ed1;
}
.search-btn:hover{
  transition: 0.5s ease-in-out;
  background: linear-gradient(90deg,#722ed1 0%, red 100%);
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.reset-btn{
  
  border: 1px solid red;  
  color: red;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 15px;  background-color: transparent;
}
.reset-btn:hover{
  transition: 0.5s ease-in-out;
  border: 1px solid red;  
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 15px;  background-color: red;
}
.search-header{
  color: aqua;
  font-weight: 500 !important;
  font-size: 25px;
  margin-bottom: 10px;
}