@import "../../ui/variables.scss";

/* home.scss */

// /* Global Layout */
.layout {
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sider {
  background-color: #2e2e3a !important;
  flex-basis: 20% !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* -- Top Section (Top Streamers) -- */
.top-section {
  border-top: 1px solid rgb(23, 23, 23);
  border-bottom: 1px solid rgb(23, 23, 23);
}

.title-center3 {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid rgb(23, 23, 23);
  font-weight: 650 !important;
  font-size: 22px !important;
  color: white !important; /* Bright color to stand out */
}

.list-item-streamers:not(:first-child) {
  border-top: 1px solid rgb(23, 23, 23);
}

.list-item-streamers:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #514d63;
  cursor: pointer;
}

.streamers-name {
  font-size: 16px;
  color: #e6e6fa;
}

.total-like {
  font-weight: 500;
  color: #dcdcdc;
  font-size: 14px;
}

.total-like span {
  color: #00aaff;
}

.avatar-container {
  padding-left: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

/* -- Bottom Section (Categories) -- */
.bottom-section {
  background-color: #2e2e3a;
  border-top: 1px solid rgb(23, 23, 23);
  border-bottom: 1px solid rgb(23, 23, 23);
  max-height: 1000px;
  overflow: scroll;
}

.title-center2 {
  margin: 0 !important;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #ffffff;
  font-weight: 650 !important;
  font-size: 22px !important;
  color: #ffffff !important;
  text-transform: uppercase;
}

.list-item-center {
  background-color: #2e2e3a;
  padding: 0px !important;
}

.list-item-center:hover {
  cursor: pointer;
  background-color: #3e3a50;
}

.category-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.list-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px !important;
}

// /* -- Main Content (Top Liked Stream) -- */
.main h2, .stream-list h2 {
  text-align: center;
  padding: 40px 0;
  font-size: 2em;
  color: white !important;
}

.title-center {
  // background-color: rgb(23, 23, 23);
  color: white !important;
}

.top-liked-container {
  height: 500px;
  min-height: 500px;
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 30px 30px 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white !important;
  background-color: #2e2e3a;

  .top-liked-username {
    color: white !important;
  }

  .top-liked-image {
    flex-basis: 75%;
    height: 100%;
    border-radius: 10px;
  }
  
  .top-liked-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .top-liked-details {
    flex-basis: 25%;
    height: 100%;

    .top-liked-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
    }

    .top-liked-title {
      font-size: 1.2em;
      font-weight: bold;
    }

    .top-liked-username {
      font-size: 1em;
    }

    .top-liked-button {
      background-color: red;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
      width: 100%;
    }
  }

  .fallback-image {
    flex-basis: 75%;
    height: 100%;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .fallback-info {
    flex-basis: 25%;
    height: 100%;
  }
}

// /* -- Featured Streams -- */
.stream-list {
  padding: 0 30px 30px 30px;
  color: white;
  background-color: rgb(23, 23, 23);
}

.card-cover-image {
  height: 300px;
  width: 100%;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
}

.live-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.view-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.stream-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  cursor: pointer;
}

.stream-info-avatar {
  display: inline-block;
  vertical-align: middle;
}

.top-stream {
  background: linear-gradient(to bottom, #2e2e3a, rgb(23, 23, 23));
}

.stream-card {
  background-color: #2e2e3a;
  border: none;
}

.stream-card:hover {
  background-color: rgb(23, 23, 23);
  transition: all 0.2s ease-in-out;
}

.stream-streamer-name, .stream-title {
  color: white;
}

/* Apply custom scrollbar styling to the entire page */
body {
  scrollbar-width: thin;
  scrollbar-color: rgb(23, 23, 23) #2e2e3a;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #2e2e3a;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(23, 23, 23);
  border-radius: 10p;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(23, 23, 23);
}

body::-webkit-scrollbar-horizontal {
  height: 8px;
}


/*Search*/
.left{
 text-align: left;

}

.stream-title *,
.stream-streamer-name {
  color: white !important;
}