.loadingVideo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loader {
    height: 2.5rem;
    width: 2.5rem;
}

.label {
    color: white;
    text-transform: capitalize;
}